In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
ords_prods_merged = pd.read_csv('/Users/yukbuinnemtat/Desktop/30-07-2023 Instacart Basket Analysis/Prepared Data/orders_products_merged.csv')

In [3]:
df = ords_prods_merged[:1000000]

In [4]:
df.shape

(1000000, 13)

In [5]:
df.groupby('product_name')

In [6]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [7]:
df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [8]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

In [10]:
ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
ords_prods_merged.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,22

In [12]:
ords_prods_merged.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,1,5,12,NaN,196,1,0,Soda,77,7,9.0,3
96,1469869,377,3,5,17,3.0,196,9,0,Soda,77,7,9.0,3
97,1927023,387,2,4,10,22.0,196,3,0,Soda,77,7,9.0,8
98,858092,420,4,1,19,30.0,196,2,0,Soda,77,7,9.0,22
99,119314,420,5,3,19,16.0,196,2,1,Soda,77,7,9.0,22

In [13]:
pd.options.display.max_rows = None

In [14]:
ords_prods_merged.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,22
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,9
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,9
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,9
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,33
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,20
20,2231262,31,17,3,11,8.0,196,14,1,Soda,77,7,9.0,20
21,2580647,43,6,4,16,4.0,196,9,0,Soda,77,7,9.0,11
22,2187180,43,9,4,12,3.0,196,1,1,Soda,77,7,9.0,11
23,2497897,52,1,1,9,NaN,196,4,0,Soda,77,7,9.0,27
24,1318871,52,2,1,10,7.0,196,5,1,Soda,77,7,9.0,27
25,1261384,52,3,1,10,7.0,196,3,1,Soda,77,7,9.0,27
26,580568,52,5,2,10,8.0,196,6,1,Soda,77,7,9.0,27
27,2428073,52,7,2,7,8.0,196,5,1,Soda,77,7,9.0,27
28,342306,52,9,1,11,7.0,196,5,1,Soda,77,7,9.0,27
29,1520353,52,10,2,10,8.0,196,4,1,Soda,77,7,9.0,27
30,2542086,52,11,2,9,7.0,196,3,1,Soda,77,7,9.0,27
31,944694,52,12,1,16,6.0,196,7,1,Soda,77,7,9.0,27
32,1268191,52,15,2,11,8.0,196,3,1,Soda,77,7,9.0,27
33,1122089,52,17,2,10,6.0,196,4,1,Soda,77,7,9.0,27
34,1498922,52,18,2,10,14.0,196,6,1,Soda,77,7,9.0,27
35,180919,52,19,3,8,8.0,196,4,1,Soda,77,7,9.0,27
36,2695875,52,21,5,10,30.0,196,1,1,Soda,77,7,9.0,27
37,3205960,67,1,3,11,NaN,196,1,0,Soda,77,7,9.0,24
38,970922,67,2,1,15,5.0,196,2,1,Soda,77,7,9.0,24
39,596585,67,3,1,13,7.0,196,2,1,Soda,77,7,9.0,24
40,2037087,67,4,2,9,8.0,196,1,1,Soda,77,7,9.0,24
41,2474111,67,5,3,14,8.0,196,2,1,Soda,77,7,9.0,24
42,1568481,67,6,3,12,7.0,196,2,1,Soda,77,7,9.0,24
43,2048527,67,8,2,11,7.0,196,1,1,Soda,77,7,9.0,24
44,2389031,67,9,2,14,7.0,196,1,1,Soda,77,7,9.0,24
45,2378562,67,10,1,10,6.0,196,1,1,Soda,77,7,9.0,24
46,1515698,67,11,1,11,7.0,196,1,1,Soda,77,7,9.0,24
47,1928050,67,12,2,12,8.0,196,1,1,Soda,77,7,9.0,24
48,1949274,67,13,1,10,6.0,196,1,1,Soda,77,7,9.0,24
49,551869,67,14,1,9,7.0,196,1,1,Soda,77,7,9.0,24
50,768572,67,16,4,10,9.0,196,1,1,Soda,77,7,9.0,24
51,150528,67,18,5,16,4.0,196,1,1,Soda,77,7,9.0,24
52,29758,67,19,0,14,9.0,196,2,1,Soda,77,7,9.0,24
53,1558976,67,21,1,9,5.0,196,2,1,Soda,77,7,9.0,24
54,863974,67,22,1,11,14.0,196,3,1,Soda,77,7,9.0,24
55,2308399,67,23,1,14,14.0,196,1,1,Soda,77,7,9.0,24
56,2759128,81,3,1,9,14.0,196,2,0,Soda,77,7,9.0,7
57,1812985,81,5,2,20,30.0,196,1,1,Soda,77,7,9.0,7
58,1889835,82,1,3,15,NaN,196,6,0,Soda,77,7,9.0,19
59,499460,82,3,5,10,5.0,196,2,1,Soda,77,7,9.0,19
60,2728456,82,4,0,11,16.0,196,1,1,Soda,77,7,9.0,19
61,2653743,82,6,4,9,13.0,196,5,1,Soda,77,7,9.0,19
62,1358880,82,9,1,10,30.0,196,1,1,Soda,77,7,9.0,19
63,343588,82,10,2,11,1.0,196,1,1,Soda,77,7,9.0,19
64,3034663,82,15,2,11,12.0,196,1,1,Soda,77,7,9.0,19
65,147262,82,18,1,13,7.0,196,1,1,Soda,77,7,9.0,19
66,3144004,82,19,2,15,8.0,196,1,1,Soda,77,7,9.0,19
67,2126069,98,3,0,9,25.0,196,7,0,Soda,77,7,9.0,14
68,2210120,98,7,5,14,5.0,196,1,1,Soda,77,7,9.0,14
69,681011,98,9,3,9,30.0,196,1,1,Soda,77,7,9.0,14
70,2846344,98,11,4,13,15.0,196,2,1,Soda,77,7,9.0,14
71,747431,98,12,6,13,30.0,196,4,1,Soda,77,7,9.0,14
72,2383054,98,13,4,11,30.0,196,1,1,Soda,77,7,9.0,14
73,1993729,98,14,5,8,8.0,196,2,1,Soda,77,7,9.0,14
74,1403849,109,3,3,17,9.0,196,5,0,Soda,77,7,9.0,6
75,520620,120,1,3,11,NaN,196,2,0,Soda,77,7,9.0,3
76,3273029,120,3,2,8,19.0,196,2,1,Soda,77,7,9.0,3
77,1861943,185,2,1,12,25.0,196,10,0,Soda,77,7,9.0,6
78,2040988,195,1,1,14,NaN,196,2,0,Soda,77,7,9.0,58
79,1680569,195,8,1,9,4.0,196,2,1,Soda,77,7,9.0,58
80,276171,195,19,5,11,3.0,196,2,1,Soda,77,7,9.0,58
81,2744976,195,22,5,10,7.0,196,2,1,Soda,77,7,9.0,58
82,2781919,195,25,1,14,4.0,196,1,1,Soda,77,7,9.0,58
83,1738718,195,31,2,8,4.0,196,2,1,Soda,77,7,9.0,58
84,3058369,195,34,3,10,6.0,196,2,1,Soda,77,7,9.0,58
85,1485596,195,37,2,15,0.0,196,2,1,Soda,77,7,9.0,58
86,417035,195,40,3,16,2.0,196,2,1,Soda,77,7,9.0,58
87,1615297,195,47,5,10,2.0,196,2,1,Soda,77,7,9.0,58
88,1765587,195,52,3,12,2.0,196,3,1,Soda,77,7,9.0,58
89,745908,195,57,4,11,3.0,196,3,1,Soda,77,7,9.0,58
90,2505656,222,17,2,12,1.0,196,2,0,Soda,77,7,9.0,70
91,3268370,222,38,5,15,1.0,196,6,1,Soda,77,7,9.0,70
92,2016711,290,9,5,19,6.0,196,8,0,Soda,77,7,9.0,51
93,2706088,290,28,6,10,7.0,196,16,1,Soda,77,7,9.0,51
94,1952286,331,6,5,16,30.0,196,8,0,Soda,77,7,9.0,8
95,3226575,360,1,5,12,NaN,196,1,0,Soda,77,7,9.0,3
96,1469869,377,3,5,17,3.0,196,9,0,Soda,77,7,9.0,3
97,1927023,387,2,4,10,22.0,196,3,0,Soda,77,7,9.0,8
98,858092,420,4,1,19,30.0,196,2,0,Soda,77,7,9.0,22
99,119314,420,5,3,19,16.0,196,2,1,Soda,77,7,9.0,22

In [15]:
ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [16]:
ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [17]:
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [18]:
ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: loyalty_flag, dtype: int64

In [21]:
ords_prods_merged[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

# TASK 4.8

### 2. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [22]:
# Calculate the aggregated mean of "order_number" column grouped by "department_id" for the entire DataFrame

aggregated_mean = ords_prods_merged.groupby('department_id')['order_number'].mean()

In [23]:
aggregated_mean.head()

department_id
1    15.457687
2    17.277920
3    17.179756
4    17.811403
5    15.213779
Name: order_number, dtype: float64

### 3. Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

#### Compared to the results obtained from the subset, there appear to be different means obtained from different departments with dorminant departments being department ID's of 4, 2, 3 (produce, other and bakery respectively), having means of around 18. Conversely, the departments with an ID of 1 and 5 (frozen and alcohol respectively), have means of around 16. Thus, departments with means of around 18 sell considerably more goods on average than those with means of around 16.

#### The only similarity with respect to the subset result is that, both data have a produce as their highest selling goods compared to rest of the departments.

### 4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [27]:
# Create a new column "loyalty_flag" using transform and loc functions

ords_prods_merged['loyalty_flag'] = ords_prods_merged.groupby('user_id' )['order_number'].transform('max')

In [28]:
# Assign loyalty categories based on the condition

ords_prods_merged.loc[ords_prods_merged['loyalty_flag'] > 1, 'loyalty_flag'] = 'Loyal Customer'

In [29]:
# Assign loyalty categories based on the condition
1
ords_prods_merged.loc[ords_prods_merged['loyalty_flag'] == 1, 'loyalty_flag'] = 'Regular Customer'

In [30]:
# Assign loyalty categories based on the condition

ords_prods_merged.loc[ords_prods_merged['loyalty_flag'] == 0, 'loyalty_flag'] = 'New Customer'

In [31]:
# Drop the temporary "order_number" column used for transformation

ords_prods_merged.drop('order_number', axis=1, inplace=True)

In [32]:
ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Loyal Customer    32434212
Name: loyalty_flag, dtype: int64

### 5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [40]:
# Group by "loyalty_flag" and calculate basic statistics of product prices

loyalty_stats = ords_prods_merged.groupby('loyalty_flag')['prices'].describe()
print(loyalty_stats)

                     count       mean         std  min  25%  50%   75%  \
loyalty_flag
Loyal Customer  32434212.0  11.981144  495.431111  1.0  4.2  7.4  11.3

                    max
loyalty_flag
Loyal Customer  99999.0

### 6. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

##### a. If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
##### b. If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [47]:
# Calculate mean prices and store them in a variable

mean_price = ords_prods_merged['prices'].mean()

In [48]:
# Create a new column "spending_flag" based on the mean prices

ords_prods_merged.loc[ords_prods_merged['prices'] >= mean_price, 'spending_flag'] = 'High spender'

In [49]:
# Create a new column "spending_flag" based on the mean prices

ords_prods_merged.loc[ords_prods_merged['prices'] < mean_price, 'spending_flag'] = 'Low spender'

In [50]:
ords_prods_merged['spending_flag'].value_counts(dropna = False)

Low spender     25806292
High spender     6627920
Name: spending_flag, dtype: int64

### 7. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
##### a. If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
##### b. If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
##### c. If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.

In [55]:
# Calculate median days and store it in a variable

median_days = ords_prods_merged['days_since_prior_order'].median()

In [57]:
# Create a new column "order_frequency_flag" based on the median days
ords_prods_merged.loc[ords_prods_merged['days_since_prior_order'] <= median_days, 'order_frequency_flag'] = 'Frequent customer'

In [58]:
# Create a new column "order_frequency_flag" based on the median days

ords_prods_merged.loc[ords_prods_merged['days_since_prior_order'] > median_days, 'order_frequency_flag'] = 'Non-frequent customer'

In [59]:
ords_prods_merged['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        16872490
Non-frequent customer    15561722
Name: order_frequency_flag, dtype: int64

### 8. Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [60]:
# Save as pickle file format

ords_prods_merged.to_pickle("Prepared Data/prepared_dataframe.pkl")